<form action='/sign-up' method='post'>

  {{!-- <div>
    <label for='username'>Username: </label>
    <input type='text' id='username' name='username' placeholder='Username:' />
  </div> --}}
  <div>
    <label for='password'>Password: </label>
    <input type='password' required id='password' name='password' />
  </div>
  
  <div>
    <label for='mail'>mail: </label>
    <input type='mail' id='mail' name='mail' />
  </div>

  <button>Sign up</button>

  <p>Already have an account? <a href='/log-in'>log-in</a></p>
</form>