<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css" />
      {{#each css}}
        <link rel='stylesheet' href='/stylesheets/{{this}}.css' />
      {{/each}}
  <title>{{title}}</title>
  </head>

  <body>

    <nav>
      <a href="/">
      <i class="fa-solid fa-house"></i> Home
      </a>
      <a href="/">
      <i class="fa-solid fa-location-dot"></i> Places
      </a>
      <a href="/">
      <i class="fa-solid fa-star"></i> Favorite
      </a>
      <a href="/">
      <i class="fa-solid fa-user"></i> Profile
      </a>
      <a href="/">
      <i class="fa-solid fa-user-plus"></i> Log In / Sign Up
      <i class="fa-solid fa-user-xmark"></i> Log Out
      </a>
    </nav>

    {{{body}}}

  </body>

</html>