<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/styles/style.css" />
      <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
      {{#each css}}
        <link rel='stylesheet' href='/styles/{{this}}.css' />
      {{/each}}
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
      integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script type="module" src="/javascript/favorites.js"></script>
    <script type="module" src="/javascript/bookmarks.js"></script>
    
    <title>{{title}}</title>
  </head>

  <body>

    <nav>
      <a href="/">

      <i class="fa-solid fa-house"></i> <p>Home</p>
      </a>
      
      <a href="/places">
      <i class="fa-solid fa-location-dot"></i> <p>Places</p>
      </a>

        {{#if isLoggedIn}}
          <a href="/favorites">

          <i class="fa-solid fa-star"></i> <p>Favorites</p>
          </a>

          <a href="/to-visit">
          <i class="fa-solid fa-bookmark"></i> <p>To Visit</p>
          </a>
        
          <a href="/profile">
          <i class="fa-solid fa-user"></i> <p>Profile</p>
          </a>

          <a href="/log-out">
          <i class="fa-solid fa-user-xmark"></i> <p>Log Out</p>
          </a>
        
        {{else}}
          <a href="/log-in">

          <i class="fa-solid fa-user-plus"></i> <p>Log In</p>
          </a>

          <a href="/sign-up">
          <i class="fa-solid fa-user-plus"></i> <p>Sign Up</p>

          </a>
        {{/if}}
    </nav>

    <main>
    {{{body}}}
    </main>

    <footer>
      
      <i>&copy; 2023 - Developed by Soizic and Sophie</i></footer>
  </body>

</html>