<h1>Visit Seoul</h1>

<a href="/places"><button>Enter</button></a>

<h3>Our recommendations</h3>

<div id="boardpost">
<div class="placesContainer">
    {{#each recoPlaces}}
        {{> post this}}
    {{/each}}
</div>
</div>
