{{#if isAdmin}}
  <a href="/create"><button>Create a new place</button></a>
{{/if}}

<h1>Places to visit</h1>

<div class="placesContainer">
    {{#each places}}
        {{> post this}}
    {{/each}}        
</div>