<h1>{{place.name}}</h1>
<div class="infos">
   <img id="placeInfosImg" src={{place.photo}} alt="" width="600px">
    <p>{{place.description}}</p> 
</div>

<div id="map"></div>


<!--  Axios CDN  -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<!--  Google Maps Key  -->
<script
src="https://maps.googleapis.com/maps/api/js?key={{GOOGLE_API_KEY}}">
</script>

<!--  Connect main.js  -->
  <script type="text/javascript" src="/javascript/main.js"></script>

