<h1>✨ {{currentUser.username}}'s profile.</h1>

<section class="user-things">
  <a href="/favorites">My Favorties</a>
  <a href="/to-visit">My To Visit List</a>
</section>

<section class="edit-profile">
  <div>
    <a href="/edit-profile"><button type="submit">Update your profile</button></a>
  </div>
</section>
