<h1>✨ {{currentUser.username}}'s profile.</h1>

<div class="icons">
  <div class="fav"><a href="/favorites">
  <i class="fa-solid fa-star"></i> Favorites
  </a>
  </div>
  
  <div class="visit">
  <a href="/to-visit">
  <i class="fa-solid fa-bookmark"></i> To Visit
  </a>
  </div>
</div>

<form action="/{{currentUser._id}}/delete" method="post">
  <i class="fa-solid fa-trash-can"></i>
  <input type="submit" value="Delete Profile" />
</form>
<!--
<section class="edit-profile">
  <div>
    <a href="/edit-profile"><button type="submit">Update your profile</button></a>
  </div>
</section>
-->
