<h1>✨ {{currentUser.username}}'s profile.</h1>

<section class="user-things">
  <a href="/favorites">
  <i class="fa-solid fa-star"></i> Favorites
  </a>
  
  <a href="/to-visit">
  <i class="fa-solid fa-bookmark"></i> To Visit
  </a>
</section>

<!--
<section class="edit-profile">
  <div>
    <a href="/edit-profile"><button type="submit">Update your profile</button></a>
  </div>
</section>
-->
