<h1>✨ {{currentUser.username}}'s profile.</h1>

<div class="icons">
  <div class="fav">
    <a href="/favorites"><button>
  <i class="fa-solid fa-star"></i> Favorites</button></a>
  </div>
  
  <div class="visit">
    <a href="/to-visit"><button>
  <i class="fa-solid fa-bookmark"></i> To Visit</button></a>
  </div>
</div>

<form action="/{{currentUser._id}}/delete" method="post">
  <button type="submit" class=" delete"><i class="fa-solid fa-trash-can"></i> Delete profile</button>
</form>
<!--
<section class="edit-profile">
  <div>
    <a href="/edit-profile"><button type="submit">Update your profile</button></a>
  </div>
</section>
-->
