body, form, div, button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

form, h2 {
  margin: 1rem;
}

input {
  width: 20rem;
}

textarea {
  width : 22rem;
  height: 10rem;
}

form div {
  display: flex;
  flex-direction: row;
  align-items: center;
}