.fa-trash-can {
  color: red;
}

.fav button, .visit button {
  background-color: #FCCCE8;
  color: #38023B;
  border: none;
}

.fav button:hover, .visit button:hover {
  background-color: #820A89;
  color: #FCCCE8;;
  border: none;
}

.delete {
  background-color: red;
  color: white;
  border: 3px solid red;
  margin-top: 10rem;
}

.delete:hover {
  border: 3px solid darkred;
}

.delete i {
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2rem;
}

form h3{
  margin-top: 1rem;
}

.pword {
  display: flex;
  flex-direction: column;
}