* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#postImg {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
}

.postContainer {
  width: 25%;
  border: 1px solid black;
  margin: 2rem;
  padding: 2rem;
  box-shadow: 10px 5px 5px grey;
  border-radius: 5%;
}

.placesContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#postLink {
  margin-top: 2rem;
  text-align: right;
  bottom: 0;
}

.infos {
  display: flex;
  margin: auto;
  width: 75%;
  margin-top: 3rem;
}

.infos p {
  margin-left: 1rem;
  justify-content: center;
  align-items: center;
}

.infos img {
  width : 50%;
  height: 50%;
}

#map {
  width: 80%;
  height: 400px;
  margin: auto;
  margin-top: 2rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  width: 100%;
  background-color: lightcoral;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  text-decoration: none;
  color: black;
}

h1, h2 {
  display: flex;
  justify-content: center;
}

.user-things, .icons {
  display: flex;
  justify-content: center;
}

.fav, .visit {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
}